body {
  margin-top: 50px;
  background-image: url(../images/bg.png);
  background-size: cover;
  color:#fff;
}

li{
  color: #fff;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.external-links .dropdown-menu .message-preview .avatar,
.external-links .dropdown-menu .message-preview .name,
.external-links .dropdown-menu .message-preview .message,
.external-links .dropdown-menu .message-preview .time {
  display: block;
}

.external-links .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.external-links .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.external-links .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.external-links .dropdown-menu .message-preview .time {
  font-size: 12px;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border-right: solid;
  border-width:5px;
  border-color:white;
	background-image:url("../images/sidebar.png");
  background-size: cover;
	overflow-y: auto;
  color: #fff;
  }
  
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #fff;
  }

  .side-nav>li>a {
	width: 225px;
  color: #fff;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #e5396b;
  color: #fff;
  }

  /* Nav Messages */

  .external{
    position: relative;
  }

  .external-links {
	  min-width: 120px;
    position: absolute;
    text-align: center;
    margin-right: 10px;
  }


  /* CSS FOR VIDEOS */

  iframe {
    border:solid   ;
    border-width:5px;
    border-color:#bb3198;
    background-color: black;
  }
}
