<head>
    <title>Media</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/contact-form.css">
</head>

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Activities <small>Music Club Portal</small></h1>
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><i class="fa fa-desktop"></i> Activities</li>
            </ol>
        </div>
    </div>
</div>

<div style="padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
    <center>
        <img src="./images/icon-burch.png" style= "filter: drop-shadow(10px 5px 10px #000000);"></img>
        <br>
        <h3>We pride ourselves with our achievements. We present the most important ones for us, but there are many more that were, and many more to come.</h3>
    </center>
    <br>
</div>
<br>
<div style="padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
    <center>
        <img src="./images/concert.jpeg" style="max-width:60%; height:auto; filter: drop-shadow(5px 5px 10px #000000);"></img>
        <br>
        <br>
        <p style="size: 24px;">Nam libero justo laoreet sit amet cursus sit amet dictum. At imperdiet dui accumsan sit amet nulla
            facilisi
            morbi. Sed vulputate odio ut enim blandit volutpat. Sollicitudin aliquam ultrices sagittis orci a
            scelerisque. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Tristique magna sit
            amet
            purus gravida quis blandit. Sed enim ut sem viverra aliquet eget sit. Et malesuada fames ac turpis
            egestas.
            Non quam lacus suspendisse faucibus interdum posuere. Molestie nunc non blandit massa enim nec dui. Odio
            euismod lacinia at quis. Et magnis dis parturient montes nascetur ridiculus mus mauris. Elit ullamcorper
            dignissim cras tincidunt lobortis feugiat vivamus at augue. Eu lobortis elementum nibh tellus.

            Nisi quis eleifend quam adipiscing vitae proin. Non pulvinar neque laoreet suspendisse interdum
            consectetur
            libero id faucibus. </p>
    </center>
    <br>
</div>
<br>
<div style="padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
    <center>
        <img src="./images/concert2.jpeg" style="max-width:60%; height:auto; filter: drop-shadow(5px 5px 10px #000000);"></img>
        <br>
        <br>
        <p style="size: 24px;">Nam libero justo laoreet sit amet cursus sit amet dictum. At imperdiet dui accumsan sit amet nulla
            facilisi
            morbi. Sed vulputate odio ut enim blandit volutpat. Sollicitudin aliquam ultrices sagittis orci a
            scelerisque. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Tristique magna sit
            amet
            purus gravida quis blandit. Sed enim ut sem viverra aliquet eget sit. Et malesuada fames ac turpis
            egestas.
            Non quam lacus suspendisse faucibus interdum posuere. Molestie nunc non blandit massa enim nec dui. Odio
            euismod lacinia at quis. Et magnis dis parturient montes nascetur ridiculus mus mauris. Elit ullamcorper
            dignissim cras tincidunt lobortis feugiat vivamus at augue. Eu lobortis elementum nibh tellus.

            Nisi quis eleifend quam adipiscing vitae proin. Non pulvinar neque laoreet suspendisse interdum
            consectetur
            libero id faucibus. </p>
    </center>
    <br>
</div>
<br>
<div style="padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
    <center>
        <img src="./images/concert3.jpeg" style="max-width:60%; height:auto; filter: drop-shadow(5px 5px 10px #000000);"></img>
        <br>
        <br>
        <p style="size: 24px;">Nam libero justo laoreet sit amet cursus sit amet dictum. At imperdiet dui accumsan sit amet nulla
            facilisi
            morbi. Sed vulputate odio ut enim blandit volutpat. Sollicitudin aliquam ultrices sagittis orci a
            scelerisque. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Tristique magna sit
            amet
            purus gravida quis blandit. Sed enim ut sem viverra aliquet eget sit. Et malesuada fames ac turpis
            egestas.
            Non quam lacus suspendisse faucibus interdum posuere. Molestie nunc non blandit massa enim nec dui. Odio
            euismod lacinia at quis. Et magnis dis parturient montes nascetur ridiculus mus mauris. Elit ullamcorper
            dignissim cras tincidunt lobortis feugiat vivamus at augue. Eu lobortis elementum nibh tellus.

            Nisi quis eleifend quam adipiscing vitae proin. Non pulvinar neque laoreet suspendisse interdum
            consectetur
            libero id faucibus. </p>
    </center>
    <br>
</div>