<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Home <small>Music Club Portal</small></h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Home</li>
            </ol>
        </div>
    </div><!-- /.row -->

    <div style="padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
        <center>
            <h1>Welcome to the Burch Music Club</h1>
            <h3>Official Online Portal</h3>
        </center>
        <br>
        <center>
            <h2>A little overview</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aliquam tincidunt mauris eu risus.
                Vestibulum auctor dapibus neque.
                Nunc dignissim risus id metus.
                Cras ornare tristique elit.
                Vivamus vestibulum ntulla nec ante.
                Praesent placerat risus quis eros.
                Fusce pellentesque suscipit nibh.
                Integer vitae libero ac risus egestas placerat.
                Vestibulum commodo felis quis tortor.
                Ut aliquam sollicitudin leo.
                Cras iaculis ultricies nulla.
                Donec quis dui at dolor tempor interdum.</p>
                <br>
            <img src="./images/tutorial.png" style="width: 1280px; height: 720px;"><img />

        </center>
        <center><h2>Our Rules</h2>
            <br>
            <p style="size: 32px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aliquam tincidunt mauris eu risus.
                Vestibulum auctor dapibus neque.
                Nunc dignissim risus id metus.
                Cras ornare tristique elit.
                Vivamus vestibulum ntulla nec ante.
                Praesent placerat risus quis eros.
                Fusce pellentesque suscipit nibh.
                Integer vitae libero ac risus egestas placerat.
                Vestibulum commodo felis quis tortor.
                Ut aliquam sollicitudin leo.
                Cras iaculis ultricies nulla.
                Donec quis dui at dolor tempor interdum.</p>
        </center>
    </div>
</div><!-- /.row -->

</div><!-- /#page-wrapper -->