<head>
<link rel="stylesheet" href="./css/login-form.css">
<link rel="stylesheet" href="./css/contact-form.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<div id="page-wrapper">

    <div class="row">
      <div class="col-lg-12">
        <h1>Media <small>Music Club Portal</small></h1>
        <ol class="breadcrumb">
          <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active"><i class="fa fa-desktop"></i> Media</li>
        </ol>
      </div>
    </div><!-- /.row -->

    <!-- posts -->
    <div>
        
        <div style = "padding:40px; border-radius: 15px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <center><h2 style="border-bottom:solid;">Charlie Puth - Attention (Cover)</h2></center>
        </br>
            <center><iframe style = "width:60%;" src="https://www.youtube.com/embed/6notA_kTnho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
            </br>
            <h3>Description</h3>
            <p style="font-size:20px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            
            </br>
            
            <h3><u>Comments</u></h3>
            <div style = "display:grid; grid-template-columns: 20% auto; padding: 10px;">
              <div style = "padding: 10px; border-bottom:solid;">@arman</div>
              <div style = "padding: 10px; border-bottom:solid;">This is a comment made by @arman</div>
              <div style = "padding: 10px; border-bottom:solid;">@nihad</div>
              <div style = "padding: 10px; border-bottom:solid;">This is a comment made by @nihad</div>
            </div>
          
          </br>

          <div style="float:right;">
            <div style="float:left;">
              <button style = "color:black;"><-</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">1</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">2</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">3</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">-></button>
            </div>
          </div>
   
        </br>
      
            <div style = "overflow:auto; background-color:transparent;">
              <div><input type="text" class="fadeIn second" name="comment" placeholder="Comment" id = "message"></div>
            </br>
              <button class="w3-button w3-purple" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Add a comment
              </button>
            </div>

        </div>

        </br>

        <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <center><h2 style = "border-bottom:solid;">Nyca - Borba</h2></center>
          </br>
            <center><iframe style = "width:60%;" src="https://www.youtube.com/embed/bgjgmexpuuQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
            </br>
            <h3>Description</h3>
            <p style="font-size:20px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


            <h3><u>Comments</u></h3>
            <div style = "display:grid; grid-template-columns: 20% auto; padding: 10px;">
              <div style = "padding: 10px; border-bottom:solid;">@arman</div>
              <div style = "padding: 10px; border-bottom:solid;">This is a comment made by @arman</div>
              <div style = "padding: 10px; border-bottom:solid;">@nihad</div>
              <div style = "padding: 10px; border-bottom:solid;">This is a comment made by @nihad</div>
            </div>
          </br>

          <div style="float:right;">
            <div style="float:left;">
              <button style = "color:black;"><-</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">1</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">2</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">3</button>
            </div>
            <div style="float:left;">
              <button style = "color:black;">-></button>
            </div>
          </div>
   
        </br>


        <div style = "overflow:auto; background-color:transparent;">
          <div><input type="text" class="fadeIn second" name="comment" placeholder="Comment" id = "message"></div>
        </br>
          <button class="w3-button w3-purple" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Add a comment
          </button>
        </div>
          
        </div>
        </div>

        

    </div>  

  </div><!-- /#page-wrapper -->