<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>Members <small>Music Club Portal</small></h1>
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><i class="fa fa-desktop"></i> Members</li>
            </ol>
        </div>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>President</b></h4>
        <p>Department of IT</p>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>Vice President</b></h4>
        <p>Department of IT</p>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>PR</b></h4>
        <p>Department of IT</p>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>Member 1</b></h4>
        <p>Department of IT</p>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>Member 2</b></h4>
        <p>Department of IT</p>
    </div>
</div>

<div class="card" style="float:left; margin-left:5%; margin-right:5%;">
    <img src="./images/user.png" style = "margin-left:5%; margin-top:5%; " alt="Avatar">
    <div class="container">
        <h4><b>Member 3</b></h4>
        <p>Department of IT</p>
    </div>
</div>