<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>Members <small>Music Club Portal</small></h1>
            <ol class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><i class="fa fa-desktop"></i> Members</li>
            </ol>
        </div>
    </div>
</div>

<center>
<div style = "padding:30px; border-radius: 25px; width: 90%; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000);">
    <div style="width:100%;">
        <center>
            <div style = "padding:30px; border-radius: 25px; width: 25%; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
                <center>
                    <img src="./images/user.png" style = "width:90%; height:90%">
                    <h1 style = "font-size:2vw;">President</h1>
                    <p style = "font-size:1vw;">Department of Information Technologies</p>
                </center>
            </div>
        </center>
    </div>


    </br>
    </br>
    </br>

    <div style="width:100%;">
        <center>
        <div style = "padding:30px; border-radius: 25px; float:left; width:25%; margin-left:20%; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <center>
                <img src="./images/user.png" style = "width:90%; height:90%">
                <h1 style = "font-size:2vw;">Vice President</h1>
                <p style = "font-size:1vw;">Department of Information Technologies</p>
            </center>
        </div>
        <div style = "padding:30px; border-radius: 25px; width:25%; margin-left:35%; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <center>
                <img src="./images/user.png" style = "width:90%; height:90%">
                <h1 style = "font-size:2vw;">PR</h1>
                <p style = "font-size:1vw;">Department of Information Technologies</p>
            </center>
        </div>
        </center>
    </div>

    </br>
    </br>
    </br>

    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap:5%;">
        <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
                <img src="./images/user.png" style = "width:70%; height:70%">
                <h1 style = "font-size:2vw;">Ovaj je najjači</h1>
                <p style = "font-size:1vw;">Department of Information Technologies</p>
        </div>
        <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
                <img src="./images/user.png" style = "width:70%; height:70%">
                <h1 style = "font-size:2vw;">Ovaj, begi, trudi se</h1>
                <p style = "font-size:1vw;">Department of Information Technologies</p>
        </div>
        <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
                <img src="./images/user.png" style = "width:70%; height:70%">
                <h1 style = "font-size:2vw;">Njoj nema ravne</h1>
                <p style = "font-size:1vw;">Department of Information Technologies</p>
        </div>
    </div>

</br>
</br>
</br>

<div style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap:5%;">
    <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <img src="./images/user.png" style = "width:70%; height:70%">
            <h1 style = "font-size:2vw;">Prop'o semestar</h1>
            <p style = "font-size:1vw;">Department of Information Technologies</p>
    </div>
    <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <img src="./images/user.png" style = "width:70%; height:70%">
            <h1 style = "font-size:2vw;">Himzo/4</h1>
            <p style = "font-size:1vw;">Department of Information Technologies</p>
    </div>
    <div style = "padding:30px; border-radius: 25px; background-image:url('./images/video-bg.png'); background-size: cover; filter: drop-shadow(10px 10px 4px #000000)">
            <img src="./images/user.png" style = "width:70%; height:70%">
            <h1 style = "font-size:2vw;">A da te pitam nešto</h1>
            <p style = "font-size:1vw;">Department of Information Technologies</p>
    </div>
</div>

</div>
</center>
